html {
  scroll-behavior: smooth;
  outline: none;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@keyframes hi-there {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,900&display=swap");

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.work-sans {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.2em;
  font-weight: 500;
}

.spoqa-han-sans {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-weight: 500;
}

.G-market-sans-L {
  font-family: 'GmarketSansLight';
}

.G-market-sans {
  font-family: "GmarketSansMedium";
}

.G-market-sans-B {
  font-family: "GmarketSansBold";
}

.font-color-black-400 {
  color: #2b2a29;
}

.font-color-black-300 {
  color: #6a6969;
}

.font-color-black-200 {
  color: #aaa9a9;
}

.font-color-black-100 {
  color: #dad3cb;
}

.font-color-primary {
  color: #7BED9B;
}

.font-color-secondary {
  color: #0B664B;
}

.bg-color-primary {
  background-color: #7BED9B;
}

.border-line-right {
  border-right: 3.2px solid #aaa9a9;
}

.border-line-bottom {
  border-bottom: 3.2px solid #6a6969;
}

.border-line {
  border: 3.2px solid #6a6969;
}

.font-outline {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2b2a29;
}

.card-corner {
  border-radius: 0 0 30px 0;
}

.section-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: 800;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  letter-spacing: 0.025em;
}

.section-subtitle {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.heading-1 {
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-top: 1rem;
}

.heading-2 {
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
}


.body-1 {
  letter-spacing: 0.1em;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 1rem;
}

.spacing-content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
}

.project-content-title {
  font-weight: 900;
  width: 6rem;
  margin-right: 1rem;
  text-align: right;
  letter-spacing: 0.1em;
}

.section-contents {
  min-height: 100vh;
  padding: 1rem 1.25rem;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}

.section-contents article {}

.main {
  margin-left: 18rem;
  width: 100%;
}

.list-item {
  color: #aaa9a9;
  background-color: transparent;
  transition: .3s ease-out;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.list-item:hover,
.list-item-active {
  color: #2b2a29;
  font-weight: 700;
  /* background-color: purple; */
}

.tag {
  padding: 0.4rem 0.8rem;
  background-color: #E7E7E7;
  border-radius: 9999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.style-name {
  color: #0B664B;
  background-color: transparent;
  text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.36);
  font-weight: 900;
  font-size: 3rem;
}

.wipe-enter {
  animation: wipe-enter 3s;
}

.hi-there {
  animation: hi-there 2s;
}